@model MusicPlace.MTOs.AlbumDTO

@{
    if (Model == null) ViewData["Title"] = "Registrar Nuevo Album";
    else ViewData["Title"] = "Editar Datos de Album";
}

<p class="mb-4">
    Aquí podrás administrar a los albums del momento.
</p>

<form asp-controller="Album" asp-action="Actualizar" method="post" enctype="multipart/form-data">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h5 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h5>
            <a class="btn btn-outline-primary" asp-controller="Album" asp-action="Index" asp-route-id="-1"><i class="fas fa-fw fa-arrow-left"></i> Regresar a Albunes</a>
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="form-group col-md-5">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5">
                    <label asp-for="IdArtist" class="control-label"></label>
                    <select asp-for="IdArtist" asp-items="@ViewBag.AllArtist" class="form-control"></select>
                    <span asp-validation-for="IdArtist" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"> </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="text-center">
                @if (Model != null)
                {
                    <input class="btn btn-primary" type="submit" value="Modificar Album" />
                }
                else
                {
                    <input class="btn btn-primary" type="submit" value="Registrar Album" />
                }
            </div>
        </div>
    </div>
</form>