@{
    ViewData["Title"] = "Inicio";
    ViewBag.Encabezado = "Toda la música en un solo lugar.";

}

<div class="text-center">
    <h1 class="display-4">Bienvenido a MusicPlace</h1>
    <h3>Desarrollado por <a href="https://github.com/ricardoalonne">Ricardo Arbildo J</a>.</h3>
    <p>Próximamente aquí habrán novedades, mientras descubre el menú Música.</p>
</div>
